<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form action="/reports" method="post">
    <label for="report_name">report name</label>
    <input type="text" name="report_name">
    <label for="date">date</label>
    <p id="date"></p>
    <button>begin reporting</button>
</form>

<script>
    currentDate =  new Date();
    currentYear = currentDate.getFullYear();
    currentMonth = currentDate.getMonth() + 1;
    currentDay = currentDate.getDate();
    document.getElementById("date").innerHTML = currentDay + "/" + currentMonth + "/" + currentYear;
</script>

</body>
</html>