<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>report</title>
</head>
<body>

    <!-- from reports table -->
    <!-- report name -->
    <!-- date -->

    <!-- from users table -->
    <!-- username -->

    <!-- from log entries -->
    <!-- report_id -->

    <!-- content -->
    

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let path = window.location.pathname
        let reportId = Number(path.split('/')[2])
        console.log(reportId)
        axios.get(`/api/reports/${reportId}`)

    </script>
</body>


</html>