<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>report</title>
</head>
<body>

    <section class="report">

    </section>
    <!-- from reports table -->
    <!-- report name -->
    <!-- date -->

    <!-- from users table -->
    <!-- username -->

    <!-- from log entries -->
    <!-- report_id -->

    <!-- content -->
    

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        const report = document.querySelector(".report")

        let path = window.location.pathname
        let reportId = Number(path.split('/')[2])
        console.log(reportId)


        // render report
        function renderReport(report) { // this is the render function
        // console.log(reportContent)
        if (report != "") {
            // console.log(reportContent)
            return report
            }
        }

        function renderReports(logEntries) { //this is taking the data response fomr the axios get call
            console.log(logEntries)
            
            return `
                <section>
                    <header>
                        <h1> ${logEntries[0].id}</h1>
                        <h1> ${logEntries[0].report_name}</h1>
                        <h1> ${logEntries[0].date}</h1>
                    </header>
                    <main>
                        ${logEntries.map(logEntry => {
                            return `
                                <article>
                                    <sub> ${renderReport(logEntry.timestamp)}</sub>
                                    <p> ${renderReport(logEntry.content)}</p>
                                </article>
                            `
                        }).join('')}
                    </main>
                </section>
            `
        }

        // grab the report
        axios.get(`/api/reports/${reportId}`).then(res => {
        // console.log(res.data) 

            report.innerHTML = renderReports(res.data)
 

        })

        // grab data for template

    </script>
</body>


</html>